@model PagedList.IPagedList<ZuLuCommerce.Models.Account>
@using PagedList.Mvc
@{
    ViewBag.Title = "Customer account list";
}

<h2>Customer accounts</h2>

<div class="box">
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Search </label>
        @Html.Editor("kw", new { htmlAttributes = new { @class = "form-control", @placeholder = "Search by username or id" } })
        <input type="submit" value="Submit" class="btn btn-success" style="margin:10px 0" />
    </div>
}
</div>
<div class="box">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Username
            </th>

            <th>
                Is active
            </th>
            <th>
                Customer's First Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div class="page-list">
        <div style="text-align:center;left:50%;position:relative;transform:translateX(-50%)" class="pagedListContainer">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page,kw = ViewBag.kw }))
        </div>
    </div>
</div>
