@model Tuple<ZuLuCommerce.Models.Order, IEnumerable<ZuLuCommerce.Models.OrderDetail>>
@using ZuLuCommerce.Models
@{
    ViewBag.Title = "Order details";
}

<h2>Details</h2>
<div class="col-lg-12 col-12">
    <div class="box box-default">
        <div class="box-header">
            <h3>Manage order</h3>
            @{
                if (Model.Item1.StatusId == 1)
                {

                    <a href="#" class="btn btn-success" id="ship" style="margin-bottom:10px" data-toggle="modal" data-target="#myModal">Deliver order</a>
                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @{
                                    Shipment sm = new Shipment()
                                    {
                                        ShippedDate = null,
                                        ShippingAddress = Model.Item1.ShippingAddress,
                                        ShippingCity = Model.Item1.CityShippingFee.CityName,
                                        ShippingFee = Model.Item1.ShippingFee ?? 0,

                                    };
                                }
                                @Html.Partial("_CreateOrderShipment", sm)
                            </div>
                        </div>
                    </div>

                }
                if (Model.Item1.StatusId != 3 && Model.Item1.StatusId != 4)
                {
                    <button class="btn btn-danger" style="float:right" oid="@Model.Item1.Id" id="cancel">Cancel order</button>

                }
                if (Model.Item1.StatusId == 2)
                {
                    <button class="btn btn-info" style="float:right" oid="@Model.Item1.Id" id="complete">Complete order</button>
                }
            }
           
            
            
        </div>
        <div class="box-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Order's info</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Order's items</span></a> </li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="pad">
                      
                            <dl class="dl-horizontal">
                                <dt>
                                    Codename
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.Codenname)
                                </dd>

                                <dt>
                                    CreatedDate
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.CreatedDate)
                                </dd>

                                <dt>
                                    Description
                                </dt>

                                <dd>
                                    @{ 
                                        if(Model.Item1.Description == null)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.Item1.Description)
                                        }
                                    }
                                    
                                </dd>

                                <dt>
                                    PaymentType
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.PaymentType)
                                </dd>

                                <dt>
                                    Discount
                                </dt>

                                <dd>
                                    @{ 
                                        if(Model.Item1.Discount == null)
                                        {
                                            <p>0</p>
                                        }
                                        else
                                        {
                                           @Html.DisplayFor(model => model.Item1.Discount)
                                        }
                                    }
                                    
                                </dd>

                                <dt>
                                    Tax
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.Tax)
                                </dd>

                                <dt>
                                   Shipping Fee
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.ShippingFee)
                                </dd>

                                <dt>
                                    Shipping Address
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.ShippingAddress)
                                </dd>

                                <dt>
                                    City Name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Item1.CityShippingFee.CityName)
                                </dd>

                                <dt>
                                    Customer Name
                                </dt>

                                <dd>
                                    <p> @Model.Item1.Customer.FirstName  @Model.Item1.Customer.LastName</p>
                                </dd>

                                <dt>
                                    Employee
                                </dt>

                                <dd>
                                    @{
                                        if (Model.Item1.EmployeeId == null)
                                        {
                                           <p>None</p> 
                                        }
                                        else
                                        {
                                           @Html.DisplayFor(model => model.Item1.Employee.Username)
                                        }
                                    }
                                    
                                </dd>

                                <dt>
                                    Status
                                </dt>

                                <dd>
                                    @{
                                        if (Model.Item1.StatusId == 1)
                                        {
                                            <span id="status" class="label label-warning">Pending</span>
                                        }
                                        if (Model.Item1.StatusId == 2)
                                        {
                                            <span id="status" class="label label-inverse">Delivering</span>
                                        }
                                        if (Model.Item1.StatusId == 3)
                                        {
                                            <span id="status" class="label label-success">Complete</span>
                                        }
                                        if (Model.Item1.StatusId == 4)
                                        {
                                            <span id="status" class="label label-danger">Canceled</span>
                                        }
                                    }
                                   
                                </dd>

                                <dt>
                                    Shipment
                                </dt>

                                <dd>
                                    @{
                                        if (Model.Item1.ShipmentId == null)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.Item1.ShipmentId)
                                        }
                                    }
                                    
                                </dd>

                            </dl>
                        </div>
                   
                </div>
                <div class="tab-pane pad" id="profile" role="tabpanel">
                    <div class="pad">
                        <table class="table">
                            <tr>
                                <th>
                                    Product name
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Description
                                </th>
                            </tr>

                            @foreach (var item in Model.Item2)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                   
                                        @{
                                            string src = "/Uploads/image-not-available.jpg";//default

                                            if (item.Product.Thumbnail != null)
                                            {
                                                var pic = item.Product.Pictures.Where(x => x.ProductId == item.ProductId).FirstOrDefault();
                                                if (pic != null && !pic.URL.Equals("") && File.Exists(Server.MapPath("~/Uploads/Products/" + item.Product.Id + "/" + item.Product.Thumbnail)))
                                                {
                                                    src = "/Uploads/Products/" + item.ProductId + "/" + item.Product.Thumbnail;

                                                }
                                            }
                                            else
                                            {
                                                var pic = item.Product.Pictures.Where(x => x.ProductId == item.Id).ToList();
                                                if (pic != null)
                                                {
                                                    src = "/Uploads/Products/" + item.Product.Id + "/" + item.Product.Thumbnail;

                                                }
                                            }

                                        }

                                        <img style="height:80px;width:auto;" class="img-responsive" src="@src" />
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
                <div class="tab-pane pad" id="messages" role="tabpanel">3</div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#orderid").val(@Model.Item1.Id);
            $("#cancel").click(function () {
                var btn = $(this);
                var id = btn.attr("oid");
                if (confirm("Are you sure to cancel this order?")) {
                    $.post("/ADMIN/Orders/CancelOrder?id=" + id, function (response) {
                        if (response == "OK") {
                            $.toast({
                                heading: 'Info',
                                text: 'This order is canceled',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'info',
                                hideAfter: 2500,
                                stack: 6
                            });

                            $("#status").removeClass();
                            $("#status").addClass("label label-danger");
                            $("#status").html("Canceled");
                            $("#complete").remove();
                            btn.remove();
                        }
                        else {
                            $.toast({
                                heading: 'Failed',
                                text: 'Please try again later',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3500

                            });
                        }
                    })
                }
                
            });
            $("#complete").click(function () {
                var btn = $(this);
                var id = btn.attr("oid");
                if (confirm("Are you sure to complete this order?")) {
                    $.post("/ADMIN/Orders/CompleteOrder?id=" + id, function (response) {
                        if (response == "OK") {
                            $.toast({
                                heading: 'Info',
                                text: 'This order is completed',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'info',
                                hideAfter: 2500,
                                stack: 6
                            });

                            $("#status").removeClass();
                            $("#status").addClass("label label-success");
                            $("#status").html("Completed");
                            btn.remove();
                            $("#cancel").remove();
                        }
                        else {
                            $.toast({
                                heading: 'Failed',
                                text: 'Please try again later',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3500

                            });
                        }
                    })
                }
                
            });
          
        })
    </script>    
}