@model IEnumerable<ZuLuCommerce.Models.CartItem>
@using ZuLuCommerce.Models
@{
    ViewBag.Title = "Your cart";
    decimal subtotal = 0;
    decimal total = 0;
}
<style>
    tr.header {
        font-weight: bold;
    }

    .quantity {
        width: 80px;
        text-align: right;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin-left: 7px;
    }
  
    .btn {
        background-color: #333;
        color: white;
        font-weight: 700;
        font-size: 18px;
        height: 42px;
        width: 150px;
        line-height: 30px;
        margin:15px 5px 0 0;
    }
        .btn:hover {
            background-color: #fd7e14;
        }
</style>

@*<div class="mb-50">*@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Cart Items</h2>

                <table class="table">
                    <tr class="header">
                        <td align="center">Id</td>
                        <td align="center">Product Name</td>
                        <td align="center">Thumbnail</td>
                        <td align="right">Price</td>
                        <td align="right">Quantity</td>
                        <td align="right">Total</td>
                        <td></td>
                    </tr>
                    <tbody id="carts">
                        @if (User.Identity.IsAuthenticated)
                        {
                            decimal price = 0;
                            var db = new eCommerceEntities();
                            var specdeal = db.SpecialDeals.Where(x => x.IsActive && x.EndDate > DateTime.Now && x.StartDate < DateTime.Now);
                            foreach (var item in Model)
                            {

                                if (specdeal.Select(x => x.ProductId).Contains(item.ProductId))
                                {
                                    price = item.Product.Price * (100 - specdeal.Where(x => x.ProductId == item.ProductId).SingleOrDefault().Discount) / 100;
                                }
                                else
                                {
                                    price = item.Product.Price * (100 - item.Product.Discount) / 100;
                                }
                                decimal p = price * item.Quantity;
                                int intprice = (int)price;
                                int intp = (int)p;
                                <tr>
                                    <td align="center">@item.ProductId</td>
                                    <td align="center">@item.Product.Name</td>
                                    <td align="center"><img style='height:80px;width:auto;max-width:150px;' src='/Uploads/Products/@item.ProductId/@item.Product.Thumbnail' /></td>
                                    <td align="right">@price.ToString("N0")</td>
                                    <td align='right'><input type='number' price="@intprice" id="@item.Id" class='quantity' value='@item.Quantity' min='1' max='1000'></td>
                                    <td class="itemtotal" sum="@intp"  align="right">@p.ToString("N0") VND</td>

                                    <td><button id="@item.Id" cartid="@item.CartId" class='removeitem'>Remove</button></td>
                                </tr>
                                subtotal += price * item.Quantity;
                            }
                             total = subtotal * 110 / 100;
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="cart-page-total">
                            <h2>Cart totals</h2>
                            <ul>
                                <li>Subtotal <span id="sumtotal"></span></li>
                                <li>Total <span id="total"></span></li>
                            </ul>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn" id="checkout" href=@Url.Action("Checkout",new { id = User.Identity.Name})>Checkout</a>
                                }
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="btn" id="checkout" href=@Url.Action("Checkout")>Checkout</a>
                                }
                            }
                            
                            <a class="btn" id="emptycart" href="#">Empty Cart</a>
                        </div>
                    </div>
                </div>

                

            </div>
            

        </div>
    </div>
@if (!User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            loadCartItems();
        })
    </script>
}
@if (User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            var subtotal = '@subtotal.ToString("N0")';
            var total = '@total.ToString("N0")';

            $("#sumtotal").html(subtotal.toLocaleString('en') + " VND");
            $("#total").html(total.toLocaleString('en') + " VND");
            $(".quantity").change( function () {
                var btn = $(this);
                var id = btn.attr("id");
                var price = btn.attr("price");
                var qty = btn.val();
                var itemtotal = parseInt(price) * parseInt(qty);
             
                $.post("/Carts/ChangeQuantityCart?id=" + id + "&qty=" + qty +"&price=" + price, function (response) {
                    if (response != "There is an error in the server, please try again later!") {
                        //change sumtotal
                        var st = 0;
                        btn.parent().parent().children(".itemtotal").html(parseInt(response).toLocaleString('en') + " VND");
                        btn.parent().parent().children(".itemtotal").attr("sum",parseInt(response));
                    
                        $(".itemtotal").each(function () {
                            st +=  parseInt($(this).attr("sum"));
                        });
                        $("#sumtotal").html("");
                        $("#sumtotal").html(st.toLocaleString('en') + " VND");
                        $("#total").html(parseInt(st * 110/100).toLocaleString('en') + " VND");
                    }
                    else {
                        alert(response);
                    }
                });
            });

            $(".removeitem").click(function () {
                var btn = $(this);
                var id = btn.attr("id");
                var cartid = btn.attr("cartid");
                if (confirm("Are you sure to remove this item?")) {
                    $.post("/Carts/RemoveFromCart?id=" + id + "&cartid=" + cartid, function (response) {
                        if (response != "There is an error in the server, please try again later!") {
                            var count = response.split('-')[0];
                            var subsum = response.split('-')[1];
                            var sum = parseInt(subsum) * 110/100;
                            if (count == "0") {
                                $(".cart-total").css("background-color", "#919fb3");
                                $(".cart-total").html(count);
                            } else {
                                $(".cart-total").css("background-color", "red");
                                $(".cart-total").html(count);
                            }
                            btn.parent().parent().remove();
                            $("#sumtotal").html(parseInt(subsum).toLocaleString('en') + " VND");
                            $("#total").html(sum.toLocaleString('en') + " VND");
                        }
                        else {
                            alert(response);
                        }
                    });
                

                }
            });
        })
    </script>
}