@model PagedList.IPagedList<ZuLuCommerce.Models.SpecialDeal>
@using PagedList.Mvc
@{
    ViewBag.Title = "Special deal list";
}

<h2>Special deal list</h2>

<a href=@Url.Action("Create") class="btn btn-success" style="margin:10px 0">Add new product</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Product name
        </th>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Discount
        </th>
        <th>
            Is Active
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
    
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
          
        </td>
    </tr>
}

</table>
<div class="page-list">
    <div style="text-align:center;left:50%;position:relative;transform:translateX(-50%)" class="pagedListContainer">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, kw = ViewBag.kw, sort = ViewBag.sort }))
    </div>
</div>