@model ZuLuCommerce.Models.VM.RegisterVM

@{
    ViewBag.Title = "Register";
    
}
<!--Breadcrumb Area Start-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h1 class="breadmome-name">Register</h1>
                    <ul>
                        <li><a href=@Url.Action("Index","Home")>Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Area End-->
<!--Login Area Strat-->
<div class="login-area mt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <div class="register-form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <h2>Register</h2>
                                    <div class="">

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="" >
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="">
                                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="">
                                            <label>Confirm Password</label>
                                            <div class="">
                                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="">
                                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="">
                                            @Html.LabelFor(model => model.CityId, "City", htmlAttributes: new { @class = "" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "", @style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="">
                                            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "" } })
                                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <p>@ViewBag.Message</p>


                                        <div class="">
                                            <div class="button-box">
                                                <button type="submit" class="default-btn">Register</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="no-account">
                                <a href=@Url.Action("Login","Customers")>Already have an account? Login here</a>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Login Area End-->

