@using ZuLuCommerce.Models
@{ 
    eCommerceEntities db = new eCommerceEntities();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/admin/admin/unique-admin/images/favicon.ico">

    <title>@ViewBag.Title</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap/dist/css/bootstrap.css">

    <!-- Bootstrap-extend -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/support-system-dashboard/css/bootstrap-extend.css">
    
    <!-- Morris charts -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/assets/vendor_components/morris.js/morris.css">

    <!-- date picker -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
    
    <!-- daterange picker -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css">

    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">

    <!-- theme style -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/support-system-dashboard/css/master_style.css">

    <!-- Unique_Admin skins -->
    <link rel="stylesheet" href="/Content/admin/admin/unique-admin/support-system-dashboard/css/skins/_all-skins.css">
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/admin/MyCss.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/admin/admin/unique-admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 
  
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
     
          
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

            </nav>
        </header>
        

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                      
                        <a href="index.html">
                            <!-- logo for regular state and mobile devices -->
                            <span><b>Zulu </b>Admin</span>
                        </a>
                    </div>
                    @{
                       
                            var cur_emp = int.Parse(User.Identity.Name);
                            var e = db.Employees.Where(x => x.Id == cur_emp).FirstOrDefault();


                            var src = "/Uploads/default-avatar.jpg";
                            if (e.Avatar != null && !e.Avatar.Equals("") && File.Exists(Server.MapPath("~/Uploads/Employees/" + e.Id + "/" + e.Avatar)))
                            {
                                src = "/Uploads/Employees/" + e.Id + "/" + e.Avatar;
                            }
                            <div class="image">
                                <img src="@src" class="rounded-circle" alt="User Image">
                            </div>
                        

                    }
                   
                  
                    <div class="info">
                        <p>@e.FirstName @e.LastName</p>
                        
                        <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
                        <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="ion ion-android-mail"></i></a>
                        <a href=@Url.Action("Logout","Accounts") class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
                    </div>
                </div>
                <!-- sidebar menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="nav-devider"></li>
                    <li @*class="active"*@>
                        <a href=@Url.Action("Index","Dashboard")>
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="header nav-small-cap">REPORTS</li>
                    <li>
                        <a href=@Url.Action("Customers", "Dashboard")>
                            <i class="fa fa-dashboard"></i> <span>Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Products", "Dashboard")>
                            <i class="fa fa-dashboard"></i> <span>Products</span>
                        </a>
                    </li>
                    <li class="header nav-small-cap">PERSONAL</li>
                    <li>
                        <a href=@Url.Action("UserProfile", "Employees",new { id = User.Identity.Name})>
                            <i class="fa fa-user-circle"></i>
                            <span>My Profile</span>  
                        </a>
                    </li>
               
                    <li class="header nav-small-cap">TASKS</li>
                   
                    <li>
                        <a href=@Url.Action("Index", "Orders")>
                            <i class="fa fa-shopping-cart"></i>
                            <span>Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Shipments")>
                            <i class="fa fa-truck"></i>
                            <span>Shipments</span>
                        </a>
                    </li>
                    <li class="header nav-small-cap">MANAGEMENT</li>
                    <li>
                        <a href=@Url.Action("Index", "Products")>
                            <i class="fa fa-bitcoin"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "BestSellings")>
                            <i class="fa fa-bitcoin"></i>
                            <span>Best Sellings</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "RecommendProducts")>
                            <i class="fa fa-thumbs-o-up"></i>
                            <span>Recommend Products</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "BannerProducts")>
                            <i class="fa fa-thumbs-o-up"></i>
                            <span>Banner Products</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "SpecialDeals")>
                            <i class="fa fa-thumbs-o-up"></i>
                            <span>Special deal</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Coupons")>
                            <i class="fa fa-thumbs-o-up"></i>
                            <span>Coupon</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Customers")>
                            <i class="fa fa-diamond"></i>
                            <span>Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Accounts")>
                            <i class="fa fa-diamond"></i>
                            <span>Customer's accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Categories")>
                            <i class="fa fa-book"></i>
                            <span>Categories</span>
                        </a>
                    </li>

                    <li>
                        <a href=@Url.Action("Index", "Employees")>
                            <i class="fa fa-group "></i>
                            <span>Employees</span>
                        </a>
                    </li>

                    <li>
                        <a href=@Url.Action("Index", "Groups")>
                            <i class="fa fa-tags"></i>
                            <span>Products Groups</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Shippers")>
                            <i class="fa fa-wheelchair-alt"></i>
                            <span>Shippers</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Suppliers")>
                            <i class="fa fa-th"></i>
                            <span>Suppliers</span>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Topics")>
                            <i class="fa fa-file"></i>
                            <span>Topics</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="header nav-small-cap">SYSTEM</li>
                        <li>
                            <a href=@Url.Action("Index", "Levels")>
                                <i class="fa fa-file"></i>
                                <span>Levels</span>
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "OrderStatus")>
                                <i class="fa fa-file"></i>
                                <span>Order status </span>
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "ShipmentStatus")>
                                <i class="fa fa-file"></i>
                                <span>Shipment status</span>
                            </a>
                        </li>
                    }
                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding:20px;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

      

      
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/jquery/dist/jquery.js"></script>

    <!-- popper -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/admin/select2.full.js"></script>
    <!-- Morris.js charts -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/raphael/raphael.min.js"></script>
    @*<script src="/Content/admin/admin/unique-admin/assets/vendor_components/morris.js/morris.min.js"></script>*@

    <!-- DataTables -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- This is data table -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>

    <!-- Sparkline -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <!-- daterangepicker -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- datepicker -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <!-- input mask-->
    <script src="~/Content/admin/admin/jquery.inputmask.js"></script>
    <script src="~/Content/admin/admin/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/admin/admin/jquery.inputmask.extensions.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>

    <!-- Slimscroll -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- FastClick -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/fastclick/lib/fastclick.js"></script>

    <!-- peity -->
    <script src="/Content/admin/admin/unique-admin/assets/vendor_components/jquery.peity/jquery.peity.js"></script>

    <!-- Unique_Admin App -->
    <script src="/Content/admin/admin/unique-admin/support-system-dashboard/js/template.js"></script>

    <!-- Unique_Admin dashboard demo (This is only for demo purposes) -->
    @*<script src="/Content/admin/admin/unique-admin/support-system-dashboard/js/pages/dashboard.js"></script>*@
  
    <!-- Unique_Admin for demo purposes -->
    <script src="/Content/admin/admin/unique-admin/support-system-dashboard/js/demo.js"></script>
    <script src="/Content/admin/admin/unique-admin/support-system-dashboard/js/pages/notification.js"></script>
    <script src="~/Content/admin/admin/unique-admin/support-system-dashboard/js/pages/toastr.js"></script>
    <script src="~/Content/admin/admin/unique-admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
    @*<script src="~/Content/admin/js/jquery.cookie.js"></script>
    <script src="~/Content/admin/js/shopping.js"></script>*@
    @*<script src="~/Content/admin/advanced-form-element.js"></script>*@
    
    
</body>
</html>
