<!--Breadcrumb Area Start-->
@model ZuLuCommerce.Models.Product
@using ZuLuCommerce.Models
@{
    var db = new eCommerceEntities();
    var features = ViewBag.features as ProductFeature;
}

@{
    ViewBag.Title = Model.Name + " details";
}





<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h1 class="breadmome-name">Single Product</h1>
                    <ul>
                        <li><a href=@Url.Action("Index","Home")>Home</a></li>
                        <li class="active">Single Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Area End-->
<!--Single Product Start-->
<div class="single-product-area mt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                
                <!--Tab Content Start-->
                <div class="tab-content product-details-large" id="myTabContent-3">
                    @{
                        var img = Model.Pictures.Where(x => x.ProductId == Model.Id).ToList();
                        var cls = "tab-pane fade show";
                        var src = "~/Uploads/image-not-available.jpg";

                        for (int i = 0; i < img.Count; i++)
                        {
                            src = "/Uploads/Products/" + Model.Id + "/" + img[i].URL;
                            if (i == 0)
                            {
                                cls += " active";
                            }
                            <div class="@cls" id="single-slide-@i">
                                <!--Single Product Image Start-->

                                <div class="single-product-img img-full" style=" height: 500px;width: 100%;overflow: hidden; max-height: 500px;position:relative">
                                    <img style="height: 100%; max-height: 500px; left: 50%;transform: translateX(-50%); width: auto;position:absolute" src="@src" alt="@Model.Name">
                                    <a class="venobox" data-gall="gallery01" href="@src"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <!--Single Product Image End-->
                            </div>
                            cls = "tab-pane fade show";
                        }

                    }
                   
                </div>
                <!--Tab Content End-->
                <!--Tab Menu Start-->
                <div class="single-product-menu">
                    <div class="nav single-slide-menu" role="tablist">
                        @{
                            src = "~/Uploads/image-not-available.jpg";
                            var isactive = "";
                            for (int i = 0; i < img.Count; i++)
                            {
                                src = "/Uploads/Products/" + Model.Id + "/" + img[i].URL;
                                if (i == 0)
                                {

                                    isactive = "active";

                                }
                                <div class="single-tab-menu img-full" style="height:120px;overflow:hidden;position:relative;margin:0 1px">
                                    <a style="" class="@isactive" data-toggle="tab" href="#single-slide-@i"><img style="height:100%;width:auto;max-height:150px; left: 50%;transform: translateX(-50%);position:absolute" src="@src" alt="@Model.Name"></a>
                                </div>
                                isactive = "";
                            }
                        }
                    </div>
                </div>
                <!--Tab Menu End-->
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h1 class="single-product-name">@Model.Name</h1>
                    <div class="single-product-reviews">
                        @{
                            var productRate = db.Ratings.Where(x => x.ProductId == Model.Id).ToList();
                            var count = productRate.Count();
                            if (count != 0)
                            {
                                var total = productRate.Select(x => x.Rating1).Sum();
                                var rate = total / count;
                                if (rate != 0)
                                {
                                    var check = "color:orange";
                                    if (rate >= 1)
                                    {
                                        check = "color:orange";
                                    }
                                    <i class="fa fa-star" style="@check"></i>
                                    check = "";
                                    if (rate >= 2)
                                    {
                                        check = "color:orange";
                                    }
                                    <i class="fa fa-star" style="@check"></i>
                                    check = "";
                                    if (rate >= 3)
                                    {
                                        check = "color:orange";
                                    }
                                    <i class="fa fa-star" style="@check"></i>
                                    check = "";
                                    if (rate >= 4)
                                    {
                                        check = "color:orange";
                                    }
                                    <i class="fa fa-star" style="@check"></i>
                                    check = "";
                                    if (rate >= 5)
                                    {
                                        check = "color:orange";
                                    }
                                    <i class="fa fa-star" style="@check"></i>
                                    <i style="margin-left:10px">@rate.ToString("N1") -- (by @count users)</i>
                                }

                            }
                            if(count == 0)
                            {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i style="margin-left:10px">No review yet</i>
                            }

                        }
                       
                    </div>
                    <div class="single-product-price">
                        <div class="product-discount">
                            @{
                                var discount_price = Model.Price;
                                var specdeal = db.SpecialDeals.Where(x => x.IsActive && x.EndDate > DateTime.Now && x.StartDate < DateTime.Now && x.ProductId == Model.Id).SingleOrDefault();
                                if (specdeal != null)
                                {
                                    discount_price -= Model.Price * specdeal.Discount / 100;
                                    if (Model.Discount != 0)
                                    {
                                        <span class="price">@discount_price.ToString("N0") VND</span>
                                        if (specdeal.Discount == 0)
                                        {
                                            <span class="discount">-@Model.Discount %</span>
                                        }
                                        else
                                        {
                                            <span class="discount">-@specdeal.Discount %</span>
                                        }
                                        <div class="product-price">
                                            <span class="regular-price">@Model.Price.ToString("N0") VND</span>

                                        </div>
                                    }
                                    else
                                    {
                                        if (specdeal.Discount == 0)
                                        {
                                            <span class="price">@Model.Price.ToString("N0") VND</span>
                                        }
                                        else
                                        {
                                            <span class="price">@discount_price.ToString("N0") VND</span>
                                            <span class="discount">-@specdeal.Discount %</span>
                                            <div class="product-price">
                                                <span class="regular-price">@Model.Price.ToString("N0") VND</span>

                                            </div>
                                        }
                                    }
                                }
                                if (specdeal == null)
                                {
                                    discount_price -= Model.Price * Model.Discount / 100;
                                    if (Model.Discount != 0)
                                    {
                                        <span class="price">@discount_price.ToString("N0") VND</span>
                                        <span class="discount">-@Model.Discount %</span>
                                        <div class="product-price">
                                            <span class="regular-price">@Model.Price.ToString("N0") VND</span>

                                        </div>
                                    }
                                    else
                                    {
                                        <span class="price">@Model.Price.ToString("N0") VND</span>
                                    }
                                }

                            }
                           
                        </div>
                    </div>
                    <div class="product-info">
                        <p></p>
                    </div>
                    <div class="single-product-action">
                      
                           
                            <div class="product-add-to-cart">
                                <span class="control-label">Quantity</span>
                                <div class="cart-plus-minus">
                                    <input id="quantity" class="cart-plus-minus-box" type="number" @*name="qtybutton"*@ value="0">
                                </div>
                                <div class="add">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <button class="add-to-cart btnAddToCart" pid="@Model.Id" pthumbnail="@Model.Thumbnail" pname="@Model.Name" pprice="@discount_price"><i class="ion-bag"></i> add-to-cart</button>
                                       
                                            if (Model.Stock == 0)
                                            {
                                                <span class="product-availability" style="color:red">Out of stock</span>
                                            }
                                            else
                                            {
                                                <span class="product-availability">In stock @Model.Stock products left</span>
                                            }
                                        
                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <button class="add-to-cart loginBtnAddToCart" pid="@Model.Id"  pthumbnail="@Model.Thumbnail" pname="@Model.Name" pprice="@discount_price"><i class="ion-bag"></i> add-to-cart</button>
                                        
                                            if (Model.Stock == 0)
                                            {
                                                <span class="product-availability" style="color:red">Out of stock</span>
                                            }
                                            else
                                            {
                                                <span class="product-availability">In stock @Model.Stock products left</span>
                                            }
                                     }
                                     
                                </div>
                            </div>
                        
                        <!--Single Product Share-->
                        <div class="single-product-share mt-20">
                            <ul>
                                <li class="categories-title">Share :</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <!--Single Product Share-->
                    </div>
                    <!--Block Reassurance-->
                    <div class="block-reassurance mt-30">
                        <ul>
                            <li>
                                <div class="block-reassurance-item">
                                    <img src="img/icon/single-icon1.png" alt="">
                                    <span>Security policy (edit with Customer reassurance module)</span>
                                </div>
                            </li>
                            <li>
                                <div class="block-reassurance-item">
                                    <img src="img/icon/single-icon2.png" alt="">
                                    <span>Delivery policy (edit with Customer reassurance module)</span>
                                </div>
                            </li>
                            <li>
                                <div class="block-reassurance-item">
                                    <img src="img/icon/single-icon3.png" alt="">
                                    <span>Security policy (edit with Customer reassurance module)</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--Block Reassurance-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Single Product End-->
<!--Single Product Review Tab Start-->
<div class="single-product-review-tab mt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-product-review-and-description-area">
                    <!--Review And Description Tab Menu Start-->
                    <ul class="nav dec-and-review-menu">
                        <li>
                            <a class="active" data-toggle="tab" href="#description">Description</a>
                        </li>
                        @{
                            if (Model.Category.Topic.Id == 1 || Model.Category.Topic.Id == 4)
                            {
                                <li>
                                    <a data-toggle="tab" href="#product-details">Product Details</a>
                                </li>
                            }
                        }
                        
                        <li>
                            <a data-toggle="tab" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                    <!--Review And Description Tab Menu End-->
                    <!--Review And Description Tab Content Start-->
                    <div class="tab-content product-review-content-tab mt-30" id="myTabContent-4">
                        <div class="tab-pane fade show active" id="description">
                            <div class="single-product-description">
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                        @{
                            if (Model.Category.Topic.Id == 1 || Model.Category.Topic.Id == 4)
                            {
                                <div class="tab-pane fade" id="product-details">
                                    <div class="product-details">
                                      
                                        <div class="product-reference">
                                            <label class="label">Category </label> <span class="demo-list">@Model.Category.Name</span>
                                        </div>
                                        <div class="product-quantities">
                                            <label class="label">In stock</label> <span class="item">@Model.Stock</span>
                                        </div>
                                        <div class="product-out-of-stock"></div>
                                        <div class="product-features">
                                            <h3>Product feature</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <td>Screen size</td>
                                                        <td>@features.ScreenSize inches</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Storage type</td>
                                                        <td>@features.StorageType</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Storage cap</td>
                                                        <td>@features.StorageCap</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Graphic</td>
                                                        <td>@features.Graphic</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Processor</td>
                                                        <td>@features.Processor</td>
                                                    </tr>
                                                    <tr>
                                                        <td>OS</td>
                                                        <td>@features.OS</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Battery life</td>
                                                        <td>@features.BatteryLife</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        
                        <div class="tab-pane fade" id="reviews">
                            <div class="review-page-comment">
                                <div class="review-comment">
                                    <h2>Write your review</h2>
                                    
                                    <label>Your rating:   </label>
                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            var check = "fa fa-star";
                                            var cur_user = int.Parse(User.Identity.Name);
                                            var userRating = db.Ratings.Where(x => x.UserId == cur_user && x.ProductId == Model.Id).FirstOrDefault();
                                            if (userRating != null)
                                            {
                                                if (userRating.Rating1 >= 1)
                                                {
                                                    check = "color:orange";
                                                }
                                                <span id="rate1" rate="1" class="fa fa-star" style="@check"></span>
                                                check = "";
                                                if (userRating.Rating1 >= 2)
                                                {
                                                    check = "color:orange";
                                                }
                                                <span id="rate2" rate="2" class="fa fa-star" style="@check"></span>
                                                check = "";
                                                if (userRating.Rating1 >= 3)
                                                {
                                                    check = "color:orange";
                                                }
                                                <span id="rate3" rate="3" class="fa fa-star" style="@check"></span>
                                                check = "";
                                                if (userRating.Rating1 >= 4)
                                                {
                                                    check = "color:orange";
                                                }
                                                <span id="rate4" rate="4" class="fa fa-star" style="@check"></span>
                                                check = "";
                                                if (userRating.Rating1 >= 5)
                                                {
                                                    check = "color:orange";
                                                }
                                                <span id="rate5" rate="5" class="fa fa-star" style="@check"></span>
                                            }
                                            else
                                            {
                                                <span id="rate1" rate="1" class="fa fa-star"></span>
                                                <span id="rate2" rate="2" class="fa fa-star"></span>
                                                <span id="rate3" rate="3" class="fa fa-star"></span>
                                                <span id="rate4" rate="4" class="fa fa-star"></span>
                                                <span id="rate5" rate="5" class="fa fa-star"></span>
                                            }

                                        }
                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <span id="rate1" rate="1" class="fa fa-star"></span>
                                            <span id="rate2" rate="2" class="fa fa-star"></span>
                                            <span id="rate3" rate="3" class="fa fa-star"></span>
                                            <span id="rate4" rate="4" class="fa fa-star"></span>
                                            <span id="rate5" rate="5" class="fa fa-star"></span>
                                        }
                                    }
                                    

                                </div>
                                <div class="review-form">
                                    <label>Your review<sup class="required">*</sup></label>
                                    <textarea id="content" name="content"></textarea>
                                    <div class="send-your-review">

                                        <div class="send-cancel-btn">
                                            <button id="review-submit" class="send-btn">Send</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Comment Area Start-->
                            <div class="comments-area mt-80">
                                @{ 
                                    var comments = db.Comments.Where(x => x.ProductId == Model.Id && x.ParentId == null).ToList();
                                }
                                <h3>@comments.Count() comments</h3>
                                @foreach(var item in comments)
                                {
                                    @Html.Partial("_ProductComments", item);
                                }
                            </div>
                            
                            <!--Comment Area End-->
                        </div>

                        </div>
                    </div>
                    <!--Review And Description Tab Content End-->
                </div>
            </div>
        </div>
    </div>

<!--Single Product Review Tab End-->
<!--Product Area Start-->
@{
    var groups = db.Groups.Where(x => x.GroupItems.Select(c => c.ProductId).Contains(Model.Id) && x.IsActive);


        <div class="product-area mt-55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--Section Title Start-->
                        <div class="section-title">
                            <h2>Related products:</h2>
                        </div>
                        <!--Section Title End-->
                    </div>
                </div>
                <div class="product-block-content">
                    <div class="row">
                        <div class="deal-product-active4 owl-carousel">
                            
                          
                               @{
                                   if (groups.Count() != 0)
                                   {
                                       foreach (var b in groups)
                                       {
                                           var ids = b.GroupItems.Select(c => c.ProductId);
                                           var p = db.Products.Where(x => ids.Contains(x.Id) && x.Id != Model.Id);
                                           foreach (var c in p)
                                           {
                                                @Html.Partial("_ProductItems", c);
                                           }

                                       }
                                   }
                                   else
                                   {
                                       foreach (var b in db.Products.Where(x => x.Category.TopicId == Model.Category.TopicId && x.Id != Model.Id))
                                       {
                                            @Html.Partial("_ProductItems", b);
                                       }
                                   }
                            }






                        </div>
                    </div>
                </div>
            </div>
        </div>
                                    

}
<!--Product Area End-->



    <script>
        $(document).ready(function () {
            //display reply form
            $(".reply-comment").click(function (e) {
                if ("@User.Identity.IsAuthenticated" === "False"){
                    alert("please login to continue");
                    return false;
                }
                e.preventDefault();
                var btn = $(this);
                var replyform = btn.attr("replytrigger");
                var parent = btn.attr("parentid");
                var replyto = btn.attr("replyto");
                $(".reply-form").css("display", "none");
                $("#" + replyform + " button").removeAttr("parentid");
                $("#" + replyform + " button").removeAttr("replyto");
                $("#" + replyform + " .replyto").html("");
                $("#" + replyform).css("display", "inline-block");
                //$("#" + replyform).removeClass("reply-hidden");
                $("#" + replyform + " #review-submit").attr("parentid", parent);
                $("#" + replyform + " #review-submit").attr("replyto", replyto);
                $("#" + replyform + " .replyto").html(replyto);
            });
            //submit reply
            $(".reply-form #review-submit").click(function () {
                var reply = $("#reply-content").val();
                if (reply == "") {
                    alert("please leave your comment before submitting");
                    return false;
                }
                var str = "@@" + $(this).attr("replyto") + "   " + reply + "-" + @Model.Id + "-" + $(this).attr("parentid");
                $.post("/Products/UserReplyComment?comment=" + str, function (response) {
                    if (response == "OK") {
                        //add comment to comment section


                        alert("done");
                    }
                    else if (response == "NotLogin") {
                        alert("Please login to continue!");
                    } else {
                        alert(response);
                    }
                });
            });
            $(".btnAddToCart").click(function () {
                var a = $(this);
                if (@Model.Stock === 0) {
                    alert("This product is out of stock, can't add to cart");
                    return false;
                }
                var quantity = $("#quantity").val();
                if (quantity != 0) {
                    addItem(a.attr("pid"), a.attr("pname"), a.attr("pthumbnail"), a.attr("pprice"), quantity);
                }
                else {
                    alert("Please choose the quantity of the product");
                }

                CartItemsCount();

            });
            //display user rating on product
           $(".loginBtnAddToCart").click(function () {
               var a = $(this);
               var id = a.attr("pid");
                if (@Model.Stock === 0) {
                    alert("This product is out of stock, can't add to cart");
                    return false;
                }
                var quantity = $("#quantity").val();
                if (quantity != 0) {
                    addItem(a.attr("pid"), a.attr("pname"), a.attr("pthumbnail"), a.attr("pprice"), quantity);
                    $.post("/Carts/AddToCart?id=" + id + "&qty=" + quantity, function (response) {
                        if (response == "OK") {
                            //alert("Added " + quantity + " product to your cart!");
                            loginCartItemsCount();
                        }
                        else {
                            alert("Invalid");
                        }
                    });
                }
                else {
                    alert("Please choose the quantity of the product");
                }

                CartItemsCount();

            });
            //rating star hover effect
            $("#rate1").hover(function () {
                $(this).css("color", "orange");
            }, function () {
                $(this).css("color", "black");
            });
            $("#rate2").hover(function () {
                $("#rate1, #rate2").each(function () {
                    $(this).css("color", "orange");
                });

            }, function () {
                $("#rate1, #rate2").each(function () {
                    $(this).css("color", "black");
                });

            });
            $("#rate3").hover(function () {
                $("#rate1, #rate2,#rate3").each(function () {
                    $(this).css("color", "orange");
                });
            }, function () {
                $("#rate1, #rate2,#rate3").each(function () {
                    $(this).css("color", "black");
                });
                });
            $("#rate4").hover(function () {
                $("#rate1, #rate2,#rate3,#rate4").each(function () {
                    $(this).css("color", "orange");
                });
            }, function () {
                $("#rate1, #rate2,#rate3,#rate4").each(function () {
                    $(this).css("color", "black");
                });
            });
            $("#rate5").hover(function () {
                $("#rate1, #rate2,#rate3,#rate4,#rate5").each(function () {
                    $(this).css("color", "orange");
                });
            }, function () {
                $("#rate1, #rate2,#rate3,#rate4,#rate5").each(function () {
                    $(this).css("color", "black");
                });
                });

            //rating
            $("#rate1, #rate2,#rate3,#rate4,#rate5").each(function () {
                $(this).click(function () {
                    var btn = $(this);
                    var ratenumber = btn.attr("rate");
                    var str = ratenumber + "-" + @Model.Id;

                    $.post("/Products/UserRating?str=" + str, function (response) {
                        if (response == "OK") {
                            alert("You have successfully rated this product " + ratenumber + " star(s)!");
                            $("#rate1, #rate2,#rate3,#rate4,#rate5").each(function () {
                                $(this).removeClass("checked");
                            });
                            for (i = ratenumber; i > 0; i--) {
                                $("#rate" + i).addClass("checked");
                            }
                        }
                        else if (response == "NotLogin"){
                            alert("Please login to continue!");
                        } else {
                            alert(response);
                        }
                    });
                });


            });
            //leaving comment
            var reviewcontent = "";
            $("#content").click(function () {
                if ("@User.Identity.IsAuthenticated" === "False"){
                    alert("please login to continue");
                    return false;
                }
                else {

                }
            });
            $("#review-submit").click(function () {
                var reviewcontent = $("#content").val();
                if (reviewcontent == "") {
                    alert("please leave your rating before submitting");
                    return false;
                }
                var str = reviewcontent + "-" + @Model.Id;

                $.post("/Products/UserComment?comment=" + str, function (response) {
                        if (response == "OK") {
                            //add comment to comment section


                            alert("done");
                        }
                        else if (response == "NotLogin"){
                            alert("Please login to continue!");
                        } else {
                            alert(response);
                        }
                    });
            });
        });
</script>

