 @model PagedList.IPagedList<ZuLuCommerce.Models.Product>
@using PagedList.Mvc 
@using ZuLuCommerce.Models
@{ 
    ViewBag.Title = "Products List";
    eCommerceEntities db = new eCommerceEntities();
    int start = 1;
    int end = Model.PageSize;
    int max = ViewBag.resultcount;
    if (Model.PageNumber > 1)
    {
        start = start + Model.PageSize * (Model.PageNumber - 1);
        end = end * Model.PageNumber;
    }
    if (end > max)
    {
        end = max;
    }
    if(max == 0)
    {
        start = 0;
    }
}

    <!--Breadcrumb Area Start-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h1 class="breadmome-name">Shop</h1>
                    <ul>
                        <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                        <li class="active">Shop</li>
                    </ul>
                    @{
                        if (ViewBag.catname != null)
                        {
                            <h3>Category: @ViewBag.catname</h3>
                        }
                        if (ViewBag.topicname != null)
                        {
                            <h3>Category: @ViewBag.topicname</h3>
                        }
                        if (ViewBag.supname != null)
                        {
                            <h3>Brand: @ViewBag.supname</h3>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Area End-->
<!--Shop Area Start-->
<div class="shop-area mt-80">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <!--Shop Product Categorie Start-->
                <div class="shop-product-cate mb-20">
                    <h3>Categories</h3>
                    <div id="shop-cate-toggle" class="category-menu sidebar-menu sidbar-style">
                        <ul class="category-sub-menu">
                            @foreach (var t in db.Topics.OrderBy(x=>x.Id))
                            {
                                <li class="has-sub">
                                    <a href=@Url.Action("Index",new { cat = ViewBag.cat, kw = ViewBag.kw, sup = ViewBag.sup, topic = t.Id })>@t.TopicName</a>
                                    <ul class="category-sub">
                                        @{
                                            var category = db.Categories.Where(x => x.TopicId == t.Id);
                                            foreach (var c in category)
                                            {
                                                <li><a href=@Url.Action("Index","Products",new { cat = c.Id, kw = ViewBag.kw, sup = ViewBag.sup, topic = ViewBag.topic })>@c.Name</a></li>
                                            }
                                        }

                                    </ul>
                                </li>
                            }
                            
                         
                        </ul>
                    </div>
                </div>
                <!--Shop Product Categorie End-->
                <!--Brand Categorie Widget Start-->
                <div class="shop-sidebar mb-20">
                    <h3>Brand</h3>
                    <div class="shop-checkbox">
                        <ul>
                            @{
                                foreach (var s in db.Suppliers)
                                {
                                    var p = db.Products.Where(x => x.SupplierId == s.Id).Count();
                                    <li><a href=@Url.Action("Index",new { cat = ViewBag.cat,kw = ViewBag.kw,sup=s.Id})>@s.Name (@p)</a></li>
                                }
                            }
                            
                            
                        </ul>
                    </div>
                </div>
                <!--Brand Categorie Widget End-->
                <!--Price Categorie Widget Start-->
                <div class="shop-sidebar mb-20">
                    <h3>Price</h3>
                    <div class="shop-checkbox">
                        <ul>

                            <li><input name="price-filter" class="pricecheck" value="all" checked="" type="radio"><a href="#">All </a></li>
                            <li><input name="price-filter" class="pricecheck" value="0-5" checked="" type="radio"><a href="#">Below 5mil </a></li>
                            <li><input name="price-filter" class="pricecheck" value="5-10" checked="" type="radio"><a href="#">5mil - 10mil </a></li>
                            <li><input name="price-filter" class="pricecheck" value="10-20" checked="" type="radio"><a href="#">10mil - 20mil </a></li>
                            <li><input name="price-filter" class="pricecheck" value="20-40" checked="" type="radio"><a href="#">20mil - 40mil </a></li>
                            <li><input name="price-filter" class="pricecheck" value="40" checked="" type="radio"><a href="#">above 40mil</a></li>
                        </ul>
                    </div>
                </div>
                <!--Price Categorie Widget End-->
                
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-layout">
                 
                    @{
                        int cat = ViewBag.cat;
                        var topic = ViewBag.topic;
                        if (cat != 0 || topic != 0)
                        {
                            if (db.Categories.Where(x => x.TopicId == 1 || x.TopicId == 4).Select(x => x.Id).Contains(cat) || topic == 1 || topic == 4)
                            {
                                <div class="row" style="margin:10px 0">
                                    <div class="col-md-3 col-3">

                                        <label>processor size:</label>
                                        <select class="feature" name="processor" id="processor">
                                            <option value="all">All processor</option>
                                            @foreach (var a in db.ProductFeatures.Select(x => x.Processor).Distinct())
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-3">

                                        <label>Storage types:</label>
                                        <select class="feature" name="storage" id="storage">
                                            <option value="all">All types</option>
                                            @foreach (var a in db.ProductFeatures.Select(x => x.StorageType).Distinct())
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-3">

                                        <label>Graphic:</label>
                                        <select class="feature" name="graphic" id="graphic">
                                            <option value="all">All types</option>
                                            @foreach (var a in db.ProductFeatures.Select(x => x.Graphic).Distinct())
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-3">

                                        <label>Storage cap:</label>
                                        <select class="feature" name="cap" id="cap">
                                            <option value="all">All types</option>
                                            @foreach (var a in db.ProductFeatures.Select(x => x.StorageCap).Distinct())
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        }
                    }
                    
                    <!--Grid & List View Start-->
                    <div class="shop-topbar-wrapper mb-30 d-md-flex justify-content-md-between align-items-center">
                        <div class="grid-list-option">
                            <ul class="nav">
                                <li>
                                    <a class="active" data-toggle="tab" href="#grid"><i class="ion-grid show_grid"></i></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#list"><i class="ion-android-menu show_list"></i></a>
                                </li>
                            </ul>
                            <p class="show-product">Showing @start - @end of @max item(s)</p>
                        </div>
                        <!--Toolbar Short Area Start-->
                        <div class="toolbar-short-area d-md-flex align-items-center">
                            <div class="toolbar-shorter">
                                <label>Sort By:</label>
                                <select name="sort" id="sort" >
                                  
                                    <option value="name_asc" >Name, A to Z</option>
                                    <option value="name_desc">Name, Z to A</option>
                                    <option value="price_asc">Price, low to high</option>
                                    <option value="price_desc">Price, high to low</option>
                                    <option value="bestselling">Bestselling</option>
                                </select>
                            </div>
                        </div>
                        <!--Toolbar Short Area End-->
                    </div>
                    <!--Grid & List View End-->
                    <!--Shop Product Start-->
                    <div class="shop-product">
                        <div id="myTabContent-2" class="tab-content">
                            <div id="grid" class="tab-pane fade show active">
                                <div class="product-grid-view">
                                    <div class="row">

                                        @foreach (var item in Model)
                                        {<div class="col-lg-4 col-xl-4 col-md-4">
                                            @Html.Partial("_ProductItems", item)
                                        </div>
                                        }


                                    </div>

                                </div>
                            </div>
                            <div id="list" class="tab-pane fade">
                                <div class="product-list-view">
                                   @foreach (var item in Model)
                                        {
                                            @Html.Partial("_ProductItems2", item)
                                        }
                                   
                                </div>
                            </div>
                            <!--Pagination Start-->
                            <div class="pagination-product d-md-flex justify-content-md-between align-items-center">
                                <div class="showing-product">
                                    
                                    <p> Showing @start - @end of @max item(s) </p>
                                </div>
                                <div class="page-list">
                                    <div style="text-align:center;left:50%;position:relative;transform:translateX(-50%)" class="pagedListContainer">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                    </div>
                                </div>
                            </div>
                            <!--Pagination End-->
                        </div>
                    </div>
                    <!--Shop Product End-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Shop Area End-->




@section Scripts{
    <script>
        $(document).ready(function () {
                $("#cat").val('@ViewBag.cat');
                $("#kw").val('@ViewBag.kw');
                $("#sort").val('@ViewBag.sort');
                $("#processor").val('@ViewBag.processor');
                $("#storage").val('@ViewBag.storage');
                $("#cap").val('@ViewBag.cap');
                $("#graphic").val('@ViewBag.graphic');
                $(".feature").on('change',function () {
                    var kw = '@ViewBag.kw';
                    var cat = '@ViewBag.cat';
                    var sup = '@ViewBag.sup';
                    var topic = '@ViewBag.topic';
                    var sort = '@ViewBag.sort';
                    var processor = $("#processor").val();
                    var storage = $("#storage").val();
                    var graphic = $("#graphic").val();
                    var cap = $("#cap").val();
                    window.location = "/Products?kw=" + kw + "&cat=" + cat + "&sup=" + sup + "&sort=" + sort + "&topic=" + topic + "&processor=" + processor + "&storage=" + storage + "&cap=" + cap + "&graphic=" + graphic ;

                });
                $("#sort").on('change',function () {
                    var kw = '@ViewBag.kw';
                    var cat = '@ViewBag.cat';
                    var sup = '@ViewBag.sup';
                    var topic = '@ViewBag.topic';
                    var sort = $(this).val();
                    @if(db.Categories.Where(x => x.TopicId == 1 || x.TopicId == 4).Select(x => x.Id).Contains(cat) || topic == 1 || topic == 4)
                    {
                        @:var processor = $("#processor").val();
                        @:var storage = $("#storage").val();
                        @:var graphic = $("#graphic").val();
                        @:var cap = $("#cap").val();
                    }
                    else
                    {
                        @:var processor = "";
                        @:var storage = "";
                        @:var graphic = "";
                        @:var cap = "";
                    }
                    window.location = "/Products?kw=" + kw + "&cat=" + cat + "&sup=" + sup + "&sort=" + sort + "&topic=" + topic + "&processor=" + processor + "&storage=" + storage + "&cap=" + cap + "&graphic=" + graphic;

                });
                $('.pricecheck').each(function () {
                    var btn = $(this);
                    if (btn.val() == '@ViewBag.price') {
                        btn.prop("checked", true);
                    }
                });
                $('.pricecheck').click(function () {
                    var kw = '@ViewBag.kw';
                    var cat = '@ViewBag.cat';
                    var sup = '@ViewBag.sup';
                    var topic = '@ViewBag.topic';
                    var sort = '@ViewBag.sort';
                    @if(db.Categories.Where(x => x.TopicId == 1 || x.TopicId == 4).Select(x => x.Id).Contains(cat) || topic == 1 || topic == 4)
                    {
                        @:var processor = $("#processor").val();
                        @:var storage = $("#storage").val();
                        @:var graphic = $("#graphic").val();
                        @:var cap = $("#cap").val();
                    }
                    else
                    {
                        @:var processor = "";
                        @:var storage = "";
                        @:var graphic = "";
                        @:var cap = "";
                    }


                    if ($(this).is(':checked')) {
                        var price = $(this).val();
                        window.location = "/Products?kw=" + kw + "&price=" + price + "&cat=" + cat + "&sup=" + sup + "&sort=" + sort + "&topic=" + topic + "&processor=" + processor + "&storage=" + storage + "&cap=" + cap + "&graphic=" + graphic;
                    }
                });
            })
    </script>
    }