@model PagedList.IPagedList<ZuLuCommerce.Models.Group>
@using PagedList.Mvc
@using ZuLuCommerce.Models
@{
    ViewBag.Title = "Product groups list";
}

<h2>Product groups list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="box">
    <table class="table table-hover table-bordered">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Item count
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        var db = new eCommerceEntities();
                        var count = db.GroupItems.Where(x => x.GroupId == item.Id).Count();
                    }
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
                        }

    </table>
    <div class="page-list">
        <div style="text-align:center;left:50%;position:relative;transform:translateX(-50%)" class="pagedListContainer">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
