@model ZuLuCommerce.Models.Product

<div class="product-list-item mb-40">
    <div class="row">
        <!--Single List Product Start-->
        <div class="col-md-4">
            <div class="single-product">
                <div class="product-img"  style="height:230px;text-align:center">
                    <a href=@Url.Action("Details","Products", new { id = Model.Id})>
                        @{
                            string src = "/Uploads/image-not-available.jpg";//default
                            string hover = "/Uploads/image-not-available.jpg";//default
                            if (Model.Thumbnail != null)
                            {
                                var pic = Model.Pictures.Where(x => x.ProductId == Model.Id && x.URL != Model.Thumbnail).FirstOrDefault();
                                if (pic != null)
                                {
                                    src = "/Uploads/Products/" + Model.Id + "/" + Model.Thumbnail;
                                    hover = "/Uploads/Products/" + Model.Id + "/" + pic.URL;
                                }
                            }
                            else
                            {
                                var pic = Model.Pictures.Where(x => x.ProductId == Model.Id).ToList();
                                if (pic != null)
                                {
                                    src = "/Uploads/Products/" + Model.Id + "/" + pic.FirstOrDefault().URL;
                                    hover = "/Uploads/Products/" + Model.Id + "/" + pic.LastOrDefault().URL;
                                }
                            }

                        }
                        <img class="first-img" src="@src" alt="@Model.Name">
                        <img class="hover-img" src="@hover" alt="@Model.Name">
                    </a>
                    <span class="sticker">New</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="product-content shop-list">
                <h4>
                    @{
                        var discount_price = Model.Price;
                        discount_price -= Model.Price * Model.Discount / 100;
                        string productname = Model.Name;
                        if (productname.Length > 25)
                        {
                            productname = productname.Substring(0, 25);

                            productname += "...";
                        }
                    }
                    <a href="@Url.Action("Details","Products",new { id = Model.Id})">@productname</a>
                </h4>
                @{
                    if (Model.Discount == 0)
                    {
                        <div class="product-price">
                            <span class="price">@Model.Price.ToString("N0") VND</span>
                        </div>
                    }
                    else
                    {
                        <div class="product-price">
                            <span class="regular-price">@Model.Price.ToString("N0")</span>
                            <span class="price">@discount_price.ToString("N0") VND</span>
                        </div>
                    }
                }
                <div class="product-reviews">
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                </div>
                <div class="product-description">
                    <p>@Model.Description</p>
                </div>
                <div class="product-list-action">
                    <ul>
                        <li><a pid="@Model.Id" pthumbnail="@Model.Thumbnail" pname="@Model.Name" pprice="@Model.Price" title="Add to cart" class="pro-add-btn quick-add-to-cart" href="#"><i class="ion-bag"></i>Add to cart</a></li>
                        <li><a  title="Quick View" href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                        <li><a title="Compare" href="#"><i class="ion-ios-copy-outline"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Single List Product End-->
    </div>
</div>