@model ZuLuCommerce.Models.Comment
@using ZuLuCommerce.Models
@{ 
    var db = new eCommerceEntities();


}

<ol class="commentlist">
    <li  style="border-left:1px solid black">
        <div class="single-comment">
           
            <div class="comment-info">
                <a href="#">@Model.Account.Username</a>
                <div class="reply">
                    <a class="reply-comment" replytrigger="@Model.Id" replyto="@Model.Account.Username" parentid="@Model.Id" href="#">Reply</a>
                </div>
                <span class="date">@Model.DateComment</span>
                <p>@Model.Content</p>
               
            </div>
        </div>
        @{
            var replies = db.Comments.Where(x => x.ParentId == Model.Id).ToList();
            if (replies != null)
            {
                foreach (var r in replies)
                {
                    <ol>
                        <li>
                            <div class="single-comment" style="border-left:1px solid black">
                                <div class="comment-info replies">
                                    <a href="#">@r.Account.Username</a>
                                    <div class="reply">
                                        <a class="reply-comment" replytrigger="@Model.Id" replyto="@r.Account.Username" parentid="@Model.Id" href="#">Reply</a>
                                    </div>
                                    <span class="date">@r.DateComment</span>
                                    <p>@r.Content</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                }
            }


        }
        <div class="review-form reply-form" id="@Model.Id" style="display:none;width:100%;padding:20px;border-bottom:1px solid black">
            <label>Your reply to  @@<span class="replyto"></span></label>
            <textarea id="reply-content" name="reply"></textarea>
            <div class="send-your-review">
                <div class="send-cancel-btn">
                    <button id="review-submit" class="send-btn">Send</button>

                </div>
            </div>
        </div>
    </li>
</ol>
