@model PagedList.IPagedList<ZuLuCommerce.Models.BestSelling>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th>
            Category
        </th>
        <th>
            Thumbnail
        </th>
        <th>
            Remove
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Category.Name)
        </td>
        <td>
            @{
                string src = "/Uploads/image-not-available.jpg";//default

                if (item.Product.Thumbnail != null)
                {
                    var pic = item.Product.Pictures.Where(x => x.ProductId == item.Product.Id && x.URL != item.Product.Thumbnail).FirstOrDefault();
                    if (pic != null)
                    {
                        src = "/Uploads/Products/" + item.ProductId + "/" + item.Product.Thumbnail;

                    }
                }
                else
                {
                    var pic = item.Product.Pictures.Where(x => x.ProductId == item.Id).ToList();
                    if (pic != null)
                    {
                        src = "/Uploads/Products/" + item.Product.Id + "/" + item.Product.Thumbnail;

                    }
                }

            }

            <img style="height:100px;width:auto" class="img-responsive" src="@src" />
        </td>
        <td>
            <button pid="@item.Id" class='removeitem'>Remove</button>
        </td>
        
    </tr>
}

</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".removeitem").click(function () {
                var btn = $(this);
                var pid = btn.attr("pid");
                if (confirm("Are you sure to remove this product?")) {
                    $.post("/ADMIN/BestSellings/RemoveProduct/" + pid, function (response) {
                        if (response == "OK") {
                            btn.parent().parent().remove();
                        }
                        else {
                            alert("Bay roi`!");
                        }
                    });
                }
            });
        });
       
    </script>
}