@model PagedList.IPagedList<ZuLuCommerce.Models.Employee>
@using PagedList.Mvc 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Full Name")
        </th>
   

        <th>
            @Html.DisplayName("User Name")
        </th>
        
        <th>
            @Html.DisplayName("Avatar")
        </th>
        <th>
            @Html.DisplayName("Last login")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p> @item.FirstName   @item.LastName</p>
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        
        <td>
            @{ 
                var src = "/Uploads/default-avatar.jpg";
                if(item.Avatar !=null && !item.Avatar.Equals("") && File.Exists(Server.MapPath("~/Uploads/Employees/" + item.Id + "/" + item.Avatar)))
                {
                    src = "/Uploads/Employees/" + item.Id + "/" + item.Avatar;
                }

            }
            <img style="height:100px;width:auto" src="@src"/>
        </td>
        <td>
            @{
                if (!item.IsOnline)
                {
                    DateTime lastonline = item.LastLogin.HasValue ? item.LastLogin.Value : DateTime.Now;
                    var l = (DateTime.Now - lastonline);
                    if (l.Seconds != 0)
                    {
                        var time = "";

                        if (l.Seconds < 60)
                        {
                            time = l.Seconds + " seconds";
                        }
                        if (l.Minutes >= 1)
                        {
                            time = l.Minutes + " minutes";
                        }
                        if (l.Hours >= 1)
                        {
                            time = l.Hours + " hours";
                        }
                        if (l.Days > 1)
                        {
                            time = l.Days + " days";
                        }
                        <p class="user-offline">Last online @time ago</p>
                    }
                    if(l.Seconds == 0)
                    {
                        <p class="user-offline">Never</p>
                    }

                }
                else
                {
                    <p class="user-online"><span class="fa fa-dot-circle-o"></span>  Online</p>
                }
            }
            
        </td>
        
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    
}

</table>*@
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_Employees", item);
    }
</div>


<div class="page-list">
    <div style="text-align:center;left:50%;position:relative;transform:translateX(-50%)" class="pagedListContainer">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>